:root {
  --blue: rgba(111, 143, 204, .8);
  --grey: rgba(0, 0, 0, .3);
  --title: 'Gugi', cursive;
  --text: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, .banner {
  background-color: var(--blue);
  width: 100%;
  text-align: center;
  height: 400px;
}

.profile-container {
  padding-top: 2rem;
}

.profile-img {
  background-image: url("https://image.ibb.co/eML677/Profile.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.name {
  font-size: 1.8em;
  font-family: var(--title);
}

.summary, .contact-info {
  font-family: var(--text);
  padding-top: .8rem;
}

.summary {
  font-size: 1.4em;
}

.card {
  min-height: 400px;
  width: 100%;
  text-align: center;
  padding-bottom: 2em;
  margin: 0 auto;
}

.sub-title {
  font-family: var(--title);
  padding-top: 1rem;
}

#section-projects {
  background-color: var(--blue);
}

#section-skills, #call-to-action {
  background-color: var(--grey);
}

.list-container, #skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

ul {
  padding-top: 2rem;
  line-height: 2rem;
}

li {
  font-family: var(--text);
  list-style: none;
}
